
h1 {
  color: red;
  font-size: 25px;
}

body {
  font-size: 24px;
  color: blue;
}

p.intro {
  color: purple;
  font-size: 12px;
  font-family: fantasy;
  width: 90%;
}

.important {
  color: green;
  font-weight: 200;
}
